body {
  cursor: none;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  background-image: url("img/saitama.png"); /* Ganti path dengan lokasi gambar cursor Anda */
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Menempatkan cursor di atas partikel */
}
